body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
    
header {
    width: 1024px;
    color:#ffffff;
    background-color: #333;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

section{
    background-color: #686767;
    padding: 20px;
    text-align: center;
}

.conteudo{
    color: white;
}

.botoes{
    padding: 20px;
    background: rgb(255, 255, 255);
    color: white;
    text-align: center;
}

footer{
    background: #333; 
    color: white; 
    padding: 10px; 
    text-align: center;
}