#container-principal{
    width: 90%; 
    margin: 10px auto;
    background-color: #f0f0f0;
}

@media screen and (min-width: 1024px) {
    
    #container-principal{
        width: 1000px; 
        margin: 0 auto; 
        background-color: #ffffff; 
    }
}

header {
    display: flex;
    color:#000000;
    font-weight: bold;
    background-color: #4f38ff;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
header > h1 {
    text-align: center;
    display: flex;
    font-size: 50px;
    padding: 10px;
} 
header > p {
    display: flex;
    font-size: 20px;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#container-principal{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    color: #000000;
}

section > img{
    max-width: 100%;
    width: 300px;
    padding: 20px;
}

section > p{
    padding: 20px;
}

section > button{
    padding: 10px;
    background: #a599fe;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    display: block;
    margin: 20px auto;

}

footer{
    background: #4f38ff; 
    color: rgb(0, 0, 0); 
    padding: 25px; 
    text-align: center;
    font-weight: bold;
}