body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
    
header {
    display: flex;
    color:#ffffff;
    font-weight: bold;
    background-color: #333;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
header > h1 {
    text-align: center;
    
} 
header > p {
    display: flex;
}

section{
    background-color: #686767;
    padding: 20px;
    text-align: center;
}

.conteudo{
    color: white;
}

.botoes{
    padding: 20px;
    background: rgb(255, 255, 255);
    color: white;
    text-align: center;
}

footer{
    background: #333; 
    color: white; 
    padding: 10px; 
    text-align: center;
}